@{
    ViewData["Title"] = "Access denied";
}

<div class="section">
    <div class="section">
        <h2 class="page-header">Access denied</h2>
        <p style="margin-top:10px;">You don't have access to this resource.</p>
    </div>
</div>
