@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div>
    <div class="section">
        <h2 class="page-header">Login</h2>
    </div>
    <p>
        Enter your Active Directory / LDAP credentials for the company domain. These should be
        the same as what you use for our <code>@@our-company.com</code> e-mail, so if your address
        is <code>vasya@our-company.com</code>, then your username is <code>vasya</code>.
    </p>
    <form class="crud" asp-controller="Account" asp-action="Login" method="post"
        asp-route-returnurl='@(ViewData["ReturnUrl"])'>
        @if (!ViewData.ModelState.IsValid)
        {
            <div asp-validation-summary="All" class="validation-summary"></div>
        }
        <table class="listing">
            <tr>
                <th><label asp-for="Username"></label></th>
                <td><input asp-for="Username" class="cool-input" /></td>
            </tr>
            <tr>
                <th><label asp-for="Password"></label></th>
                <td><input asp-for="Password" class="cool-input" /></td>
            </tr>
            <tr>
                <th></th>
                <td><button type="submit" class="nice-button small-nice-button">Sign-in</button></td>
            </tr>
        </table>
    </form>
</div>
