<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    internalLogLevel="Off">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target name="logconsole" xsi:type="Console"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${aspnet-request-url} | ${aspnet-mvc-action}${newline}${message} ${exception:format=tostring}${newline}"
            />

        <target name="general" xsi:type="File"
            fileName="${basedir}/logs/general-${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${aspnet-request-url} | ${aspnet-mvc-action}${newline}${message} ${exception:format=tostring}${newline}"
            archiveFileName="${basedir}/logs/archive/general-archive-{#}.log"
            archiveEvery="Sunday"
            archiveNumbering="Rolling"
            maxArchiveFiles="15"
            concurrentWrites="true"
            />
    </targets>

    <rules>
        <logger name="Microsoft.*" minlevel="Trace" final="true" />
        <logger name="*" minlevel="Trace" writeTo="logconsole" />
        <logger name="*" minlevel="Trace" writeTo="general" />
    </rules>
</nlog>
